@charset "utf-8";
@import "https://fonts.googleapis.com/css?family=Noto+Serif";


@media (max-width: 768px) {
    .box-with-shadow{
        width: 90%;
    }

}

@media (min-width: 768px) and (max-width: 1200px) {
    .box-with-shadow{
        width: 70%;
    }
}

html, body{
    height: 100%;
}

.box-with-shadow {
    width: 790px;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 1000px;
    box-shadow: 1px 1px 4px white;
    margin-top: 10px;
    padding: 20px; 
    text-align: center; 
}

.box-with-shadow p {
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0;
}

.box-with-shadow figure {
    margin-top: 10px;
}

.box-with-shadow img {
    max-width: 100%;
    border-radius: 10px; 
}

.box-with-shadow legend{
    font-size: 24pt; 
    color: white;
    text-align: center;
    font-family: "Verdana", Geneva, Tahoma, sans-serif;
    text-shadow: 1px 2px 4px black;
    margin-top: 0; 
    padding-top: 10px; 

}

 

